/* Meta */

body {
  color: #232534;
  background-color: #e8f4fd;
}

section,
footer {
    max-width: 1440px;
    margin: auto;
}

/* Navbar */

.nav-link {
    color: #232534;
    background-color: rgba(242,245,248, 0.8)
}

.navbar-toggler {
    border: 1px solid #232534;
}

.navbar-menu-sm {
    border-radius: 5px;
}

@media (min-width: 576px) {
  body {
    padding-top: 55px;
  }

  .navbar {
    border-bottom: 1px solid #232534;
    color: #232534;
}
}

@media (max-width: 575px) {
  .navbar {
    text-align: right;
    justify-content: flex-end;
  }
  .navbar-menu-sm * {
    background-color: #e3f1fc;
  }

  .show {
      background-color: #e3f1fc;
  }
}

/* Header */
header .row {
    background-color: #304b87;
    margin: 0 10px 0 10px;
}

.hero-image-wrap {
    overflow: hidden;
    padding: 10px;
    max-height: 50vh;
}

.hero-image {
    position: relative;
    width: 100%;
    height: auto;
    
    left: 5%;

    clip-path: circle(50% at center) stroke-box;
}

.title {
    color: #fafaff;
}

/* Disclaimer */

/* Footer */

.social-link-list {
    list-style-type: none;
}

.footer-element .btn {
    color: #e8f4fd;
    background-color: #304b87;
}

.footer-element .btn:hover {
    background-color: #232534;
}

.social-link-list li i {
    color: #304b87;
}

.social-link-list li i:hover {
    color: #232534;
}

/* Landing */

ul {
    list-style-type: circle;
}

h3 {
    text-align: center;
}

.landing-skills-details .btn,
.project-link-button {
    color: #e8f4fd;
    background-color: #304b87;
    margin-bottom: 5px;
}

.project-link-button:hover,
.landing-skills-details .btn:hover {
    color: #e8f4fd;
    background-color: #232534;
}

.landing-skills-group,
.portfolio-project {
    margin: 10px;
    border: solid 1px #232534;
    border-radius: 10px;
    background-color: #fafaff;
}

/* Work History */

.history-work,
.history-edu {
    padding: 0;
}

.history-heading {
    text-align: center;
    padding: 15px;
}

.history-work-item {
    margin: 10px;
    border: solid 1px #232534;
    border-radius: 10px;
    background-color: #fafaff;
}

.history-edu-item {
    margin: 10px;
    border: solid 1px #232534;
    border-radius: 10px;
    background-color: #fafaff;
}

.history-item-head,
.history-item-detail {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.history-item-title {
    margin-top: 5px;
    font-size: 2em;
}

.history-item-date {
    font-size: 1.2em;
}

.history-item-location {
    font-size: 1em;
}

.history-item-detail {
    margin-top: 5px;
}

.history-item-detail ul {
    list-style-type: circle;
}




/* Contact Form */
.contact-form-wrapper {
    justify-content: center;

    margin: 20px;
    border: solid 1px #232534;
    border-radius: 10px;
    background-color: #fafaff;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 90%;
    margin: auto;

}

.form-item-text {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form-item-contact-infos {
    max-width: 85%;
}

.form-item-contact-infos .form-item {
    margin: auto;
    text-align: right;
}

label {
    margin-left: 10px;    
}

.submit-button {
    color: #e8f4fd;
    background-color: #304b87;
    margin-bottom: 5px;
}

.submit-button:hover {
    color: #e8f4fd;
    background-color: #232534;
}

#edu-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#edu-modal button {
    color: #e8f4fd;
    background-color: #304b87;
    margin: 10px;
    justify-self: center;
}

#edu-modal button:hover {
    color: #e8f4fd;
    background-color: #232534;
}
