/* Meta */

body {
  color: #232534;
  background-color: #e8f4fd;

  font-family: 'Roboto', sans-serif;
}

section {
    max-width: 1440px;
    margin: auto;
}

/* Navbar */

.nav-link {
    color: #232534;
    background-color: #fafaff;
    border: 1px solid #232534;
    border-radius: 3px;
}

.navbar-nav .active .nav-link {
    color: #fafaff;
    background-color: #304b87;
}

.nav-link:hover,
.navbar-toggler:hover {
    color: #fafaff;
    background-color: #232534;
}

.navbar-toggler {
    color: #232534;
    background-color: #fafaff;
    border: 1px solid #232534;
}
.navbar {
    text-align: right;
    justify-content: flex-end;
}
    
.nav-item {
    width: 100%;
    white-space: nowrap;
    text-align: center;
}

.nav-item .nav-link {
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 576px) {
    body {
        padding-top: 55px;
    }

    .navbar {
        text-align: left;
        justify-content: flex-start;
        background-color: #e8f4fd;
        border-bottom: 0.5px solid #ccc;
    }

    .nav-item {
        width: 100%;
        text-align: center;
        padding-left: 10px;
    }

    .nav-link {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Header */

header {
    background-color: #304b87;
    margin: 0 10px 0 10px;
}

.hero-image-wrap {
    overflow: hidden;
    padding: 10px;
    max-height: 50vh;
}

.hero-image {
    position: relative;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    
    left: 5%;

    clip-path: circle(50% at center);
}

.title {
    color: #fafaff;
    align-self: flex-end;
    margin-bottom: 10px;
}

/* Disclaimer */

#disclaimer {
    text-align: center;
    margin-top: 20px;
}

#disclaimer p {
    margin: 10px;
}

/* Footer */

footer {
    border-top: 0.5px solid #ccc;
    justify-content: center;
}

.footer-element {
    text-align: center;
    margin-top: 10px;
}

.copyright {
    align-self: center;
}

.footer-element .btn {
    color: #e8f4fd;
    background-color: #304b87;
}

.footer-element .btn:hover {
    background-color: #232534;
}

.social-link-list li i {
    color: #304b87;
    font-size: 1.5em;
}

.social-link-list li i:hover {
    color: #232534;
}

/* List bullet points */

ul {
    list-style-type: none;
}

.landing-skills-group ul li::before,
.project-tech-list li::before,
.history-item-detail ul li::before {
    content:"";
    display: inline-block;
    padding: 0.3em;
    margin-right: 1em;
    width: 0;
    height: 0;
    border: 1.5px solid #232534;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    transform-origin: center;
    transform: rotate(45deg) ;
}

/* Landing */

.experiences-heading,
.portfolio-heading {
    text-align: center;
    padding: 15px;
}

.landing-skills-details div {
    padding-left: 10px;
    padding-right: 10px;
}

.portfolio-project {
    min-width: 300px;
}

.landing-skills-details .btn,
.project-link-button {
    color: #e8f4fd;
    background-color: #304b87;
    margin-bottom: 10px;
}

.project-link-button:hover,
.landing-skills-details .btn:hover {
    color: #e8f4fd;
    background-color: #232534;
}

.landing-skills-group-heading,
.project-heading {
    margin-top: 10px;
}

.landing-skills-group,
.portfolio-project {
    margin: 10px;
    border: solid 1px #232534;
    border-radius: 3px;
    background-color: #fafaff;
}

/* Work History */

.history-work,
.history-edu {
    padding: 0;
}

.history-heading {
    text-align: center;
    padding: 15px;
}

.history-work-item,
.history-edu-item {
    margin: 10px;
    border: solid 1px #232534;
    border-radius: 3px;
    background-color: #fafaff;
}

.history-item-head,
.history-item-detail {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 10px 0;
}

.history-item-title {
    font-size: 2em;
}

.history-item-date {
    font-size: 1.2em;
}

.history-item-location {
    font-size: 1em;
}

@media (max-width: 767px) {
    .history-item-detail ul {
        padding-left: 0px;
    }
}

/* Skillset */

.skillset-backend,
.skillset-frontend {
    padding: 0;
}

.skillset-heading {
    text-align: center;
    padding: 15px;
}

.skillset-tech-subgroup {
    margin: 10px;
    padding: 10px 20px;
    border: solid 1px #232534;
    border-radius: 3px;
    background-color: #fafaff;
    min-width: 300px;
}

.skillset h4 {
    margin-top: 10px;
}

.skillset-tech-subgroup .progress {
    border: 1px solid #232534;
    color: #232534;
    background-color: #fafaff; 
}

.skillset-tech-subgroup .progress .progress-bar{
    border: 1px solid #232534;
    color: #fafaff;
    background-color: #304b87; 
}



/* Contact Form */
.contact-form-wrapper {
    justify-content: center;
    margin: 20px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

#contact-form h3 {
    text-align: center;
}

.form-item-text,
.form-item {
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.form-item input,
.form-item textarea {
    padding: 5px;
}

.form-item-urgent {
    flex-direction: row;
    align-items: center;
}

.form-item-urgent label {
    margin: auto 0;
}

#urgency-checkbox {
    margin-right: 10px;
}

.submit-button {
    color: #e8f4fd;
    background-color: #304b87;
    margin-bottom: 20px;
}

.submit-button:hover {
    color: #e8f4fd;
    background-color: #232534;
}

#edu-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#edu-modal button {
    color: #e8f4fd;
    background-color: #304b87;
    margin: 10px;
    justify-self: center;
}

#edu-modal button:hover {
    color: #e8f4fd;
    background-color: #232534;
}
